.elementor-99 .elementor-element.elementor-element-1b90fc5>.elementor-container {
    max-width: 1600px;
}

.elementor-99 .elementor-element.elementor-element-1b90fc5>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-99 .elementor-element.elementor-element-1b90fc5 {
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 0px 35px 0px 35px;
}

.elementor-99 .elementor-element.elementor-element-c49eb21 {
    text-align: left;
    width: auto;
    max-width: auto;
}

.elementor-99 .elementor-element.elementor-element-c49eb21 .aux-has-logo img {
    max-width: 40%;
}

.elementor-99 .elementor-element.elementor-element-2dc4259.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-99 .elementor-element.elementor-element-d052931 {
    display: block;
    text-align: right;
    width: auto;
    max-width: auto;
}

.elementor-99 .elementor-element.elementor-element-d052931 .aux-vertical .aux-menu-depth-0 .aux-item-content {
    display: block;
    text-align: right;
}

.elementor-99 .elementor-element.elementor-element-d052931 .aux-menu-depth-0>.aux-item-content {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.5em;
    padding: 0px 0px 0px 60px;
}

.elementor-99 .elementor-element.elementor-element-d052931 .aux-fs-menu .aux-master-menu {
    text-align: left;
}

.elementor-99 .elementor-element.elementor-element-d052931>.elementor-widget-container {
    margin: 0px 38px 0px 0px;
}

.elementor-99 .elementor-element.elementor-element-5f1cd82 .aux-modern-button-wrapper {
    text-align: left;
}

.elementor-99 .elementor-element.elementor-element-5f1cd82 .aux-modern-button.aux-modern-button-outline .aux-overlay:before,
.elementor-99 .elementor-element.elementor-element-5f1cd82 .aux-modern-button .aux-overlay:before {
    background-color: rgba(64, 84, 178, 0);
}

.elementor-99 .elementor-element.elementor-element-5f1cd82 .aux-overlay:before,
.elementor-99 .elementor-element.elementor-element-5f1cd82 .aux-overlay:after {
    box-shadow: 0px 0px 0px 4px #000000;
    border-radius: 31px 31px 31px 31px;
}

.elementor-99 .elementor-element.elementor-element-5f1cd82 .aux-modern-button {
    padding: 12px 32px 12px 32px;
}

.elementor-99 .elementor-element.elementor-element-5f1cd82 .aux-modern-button.aux-modern-button-outline .aux-overlay:after,
.elementor-99 .elementor-element.elementor-element-5f1cd82 .aux-modern-button .aux-overlay:after {
    background-color: rgba(2, 1, 1, 0);
}

.elementor-99 .elementor-element.elementor-element-5f1cd82 .aux-text {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.3em;
}

.elementor-99 .elementor-element.elementor-element-5f1cd82 {
    width: auto;
    max-width: auto;
}

@media(min-width:768px) {
    .elementor-99 .elementor-element.elementor-element-0bb8ff0 {
        width: 21.687%;
    }
    .elementor-99 .elementor-element.elementor-element-2dc4259 {
        width: 78.313%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-99 .elementor-element.elementor-element-0bb8ff0 {
        width: 100%;
    }
    .elementor-99 .elementor-element.elementor-element-2dc4259 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-99 .elementor-element.elementor-element-1b90fc5 {
        margin-top: 55px;
        margin-bottom: 0px;
    }
    .elementor-99 .elementor-element.elementor-element-c49eb21 {
        text-align: center;
        width: 100%;
        max-width: 100%;
    }
    .elementor-99 .elementor-element.elementor-element-c49eb21 .aux-has-logo img {
        width: 110px;
        max-width: 100%;
    }
    .elementor-99 .elementor-element.elementor-element-2dc4259.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-99 .elementor-element.elementor-element-d052931 .aux-menu-depth-0>.aux-item-content {
        font-size: 20px;
    }
    .elementor-99 .elementor-element.elementor-element-d052931>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-99 .elementor-element.elementor-element-d052931 {
        width: auto;
        max-width: auto;
    }
}

@media(max-width:767px) {
    .elementor-99 .elementor-element.elementor-element-0bb8ff0 {
        width: 50%;
    }
    .elementor-bc-flex-widget .elementor-99 .elementor-element.elementor-element-0bb8ff0.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-99 .elementor-element.elementor-element-0bb8ff0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-99 .elementor-element.elementor-element-0bb8ff0.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-99 .elementor-element.elementor-element-c49eb21 {
        text-align: left;
        width: auto;
        max-width: auto;
    }
    .elementor-99 .elementor-element.elementor-element-2dc4259 {
        width: 50%;
    }
    .elementor-bc-flex-widget .elementor-99 .elementor-element.elementor-element-2dc4259.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-99 .elementor-element.elementor-element-2dc4259.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-99 .elementor-element.elementor-element-2dc4259.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-99 .elementor-element.elementor-element-d052931 {
        text-align: left;
        width: auto;
        max-width: auto;
    }
    .elementor-99 .elementor-element.elementor-element-d052931 .aux-vertical .aux-menu-depth-0 .aux-item-content {
        text-align: left;
    }
    .elementor-99 .elementor-element.elementor-element-d052931 .aux-menu-depth-0>.aux-item-content {
        padding: 0px 0px 0px 0px;
    }
    .elementor-99 .elementor-element.elementor-element-d052931 .aux-fs-menu .aux-menu-item>.aux-item-content {
        font-size: 35px;
    }
    .elementor-99 .elementor-element.elementor-element-d052931>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}